<h1>update my medical care page</h1>
<p>edit <%= @medical_care.name %></p>

<%= render "form", medical_care: @medical_care %>

<%= link_to "back", medical_care_path %>
<%= link_to "Delete",
  medical_care_path(@medical_care),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
