<div class="container">
  <!-- Ancien contenu avec le bouton -->
  <div class="row">
    <div class="col">
      <h1>Bienvenue HOME PAGE</h1>

      <% if user_signed_in? %>
        <p>Bienvenue, nous sommes content de vous revoir M. <%= current_user.email %></p>
      <% else %>
        <p>Vous n'êtes pas connecté</p>
      <% end %>

      <%= link_to "Find a Medical care", medical_cares_path, class: "btn btn-primary" %>
    </div>
  </div>

  <!-- Nouvelle section Fondateur sous forme de carte d'identité -->
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="card" style="width: 18rem;">
        <!-- Image du fondateur, partie supérieure visible uniquement -->
        <img src="<%= asset_path('anouar-labo7.jpeg') %>" class="card-img-top img-fluid" alt="Fondateur" style="height: 300px; object-fit: cover; object-position: top;">

        <!-- Contenu de la carte -->
        <div class="card-body text-center">
          <h5 class="card-title">Anouar - Fondateur</h5>
          <p class="card-text">
            Passionné par le développement de soins médicaux pour tous. Il œuvre pour améliorer la qualité
            de vie des patients à travers le monde avec une vision transformative.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
