<div class="container">
  <div class="row">
    <div class="col">
      <h1>Bienvenue HOME PAGE</h1>

      <% if user_signed_in? %>
        <p>Bienvenue, nous sommes content de vous revoir M. <%= current_user.name %></p>
      <% else %>
        <p>Vous n'êtes pas connecté</p>
      <% end %>

      <%= link_to "Morocco-Medical cares", medical_cares_path, class: "btn btn-primary" %>
    </div>
  </div>

  <!-- Nouvelle section Fondateur sous forme de carte -->
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <!-- Image du fondateur -->
        <img src="<%= asset_path('anouar-labo7.jpeg') %>" class="card-img-top img-fluid" alt="Fondateur">

        <!-- Contenu de la carte -->
        <div class="card-body">
          <h5 class="card-title">Notre Fondateur</h5>
          <p class="card-text">
            Découvrez notre fondateur, passionné par le développement de soins médicaux pour tous.
            Avec une vision de transformation du système de santé, il s'efforce d'améliorer la qualité
            de vie des patients à travers le monde.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
