<div class="container">
  <div class="row">
    <div class="col">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>

      <%= user_signed_in? %>
    </div>
  </div>
</div>
